#borderlili{
    border-right: 1px solid gray;
    height: 50px;
}

#cvphoto{
    border: 3px solid rgb(0, 0, 0);
    border-radius: 50%;
}


#containerfln{
    border: 2px solid rgb(0, 0, 0);
 
}


#arastirma{
    border: 2px solid rgb(0, 0, 0);
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

#odev-2{
    color: cadetblue;
}

nav #asd{
    color: rgb(8, 8, 8);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    margin: 15px;
    background-image: url('/img/whitebg.jpg');
}

